%h1 Sample app
%p
  Hi #{@user.name}
%p
  Welcome to the Sample App! Click om the link below to ctivate you account:
= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email)