%li.row
  = link_to order.user.name, order_url(order.qr_token), method: :get, class: 'user-text'
  - unless order.confirmation
    = link_to "Confirm order", admin_order_path(order), method: :patch, class: 'user-text'
