-provide(:title, "Edit #{@current_user.name}")
-provide(:button_text, "Save changes")

%h1.edit-title Update your profile
.row.edit-form
  .col-md-6.col-md-offset-3
    = render 'layouts/form'
  .gravatar_edit
    = gravatar_for @user
    %a{href: "https://gravatar.com/emails", target: "_blank"} change
    %br/