-provide(:title, "Edit #{@product.title}")
-provide(:button_text, "Save changes")

%h1.edit-title Update product details
.row.edit-form
  .col-md-6.col-md-offset-3
    =render 'layouts/product_form'
  .cart-picture
    = image_tag(url_for(@product.image))
    %br/