// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-picture {
  height: 250px;
  display: flex;
  padding-top: 7px;

  img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 3px;
  }
}
a{
  color: orange;
}

.columns{
  align-self: center;
}

.remove-item-link{
  margin-left: 110px;
  margin-bottom: 20px;
  font-color: orange;
  align-self: center;
}

hr{
  border-top: 2px solid $grey-outline-color;
  width: 100%;
}

