$font: 'Averia Serif Libre';
$fontSize: 15px;

.top-container {
  background: url(caffee2.jpg) no-repeat center fixed;
  height: 550px;
  background-size: cover;
  width: 100%;
  z-index: 1;
  text-align: center;

  .caffee-logo {
    display: inline-block;
    padding-top: 2.7%;
  }

  nav {
    width: 100%;
    height: 110px;
    padding-bottom: 10px;
    display: flex;

    p {
      font-family: $font;
      font-size: $fontSize;
      color: white;
    }

    .logo-text {
      font-family: $font;
      font-size: $fontSize;
      color: white;
      padding-left: 10px;
      margin: 0;
    }

    img {
      border-radius: 50%;
      height: 50px;
      width: auto;
      margin-left: 12%;
      margin-top: 2%;
    }
  }
}

.right-side-info {
  margin-left: 30%;
  justify-content: space-between;
  padding-top: 2.7%;
  margin-right: 0;
  width: 100%;

  p {
    display:inline-block;
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      color: orange;
    }
  }
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: orange;
}

h1 {
  font-family: $font;
  font-size: 80px;
  color: orange;
  vertical-align: middle;
  margin-bottom: 1px;
}

.fork-knife {
  vertical-align: middle;
  width: 100%;

  p {
    width: 100px;
    color: transparent;
    display: inline-block;
    text-decoration-line: overline;
    text-decoration-style: wavy;
    text-decoration-color: orange;
    padding-right: 200px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
  }

  img {
    display: inline-block;
    margin-top: 6px;
    height: 25px;
  }

}

.description-text {
  font-family: $font;
  font-size: $fontSize + 5;
  color: orange;
  margin-top: 0;

  &:hover {
    font-size: $fontSize + 20;
  }
}

.drop-down-menu {

  nav {
    width: 100%;
    height: 110px;
    padding-bottom: 10px;
    display: flex;
  }

  margin-top: 0;
  width: 100%;
  background-color: #e6e6e6;
  left: 0;
  display: flex;
  height: 50px !important;

  ul {
    justify-content: space-between;
    width: 50%;
    align-items: flex-start;
  }

  li {
    width: 20%;
    display: inline-block;
    font-family: $font;
    font-size: $fontSize;
  }

  .slider {
    width: 50%;
    justify-content: center;
    margin-top: 10px;

    p {
      display: inline-block;
      font-family: $font;
      font-size: $fontSize;
      color: black;
    }

    #my-slider {
      display: inline-block;
      width: 300px;
      margin: 4px;
      color: orange;
      height: 10px;
      margin-top: 8px;
    }

    .price {
      color: grey;
      margin: 5px;
    }
  }
}

.arrow {
  border: solid orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.child {
  display: none;
  font-size: $fontSize;
  font-family: $font;

  li {
    margin: 2px;
    color: black;
  }
}

.parent > li {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  float: left;
  margin-left: 80px;
  list-style: none;
  color: black;
  font-weight: bold;
  z-index: 20;
}

.menu {
  margin-top: 60px;
  outline-color: transparent;
}

.items {
  display: flex;
  margin-left: 13%;
  margin-right: 13%;

  .item {
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 0.5px;
    align-items: flex-start;
    background-color: white;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.08);
    }

    .picture {
      height: 250px;
      display: flex;
      padding-top: 7px;
    }

    img {
      width: 250px;
      height: auto;
      border-radius: 50%;
      padding-right: 50px;
      padding-left: 20px;
      padding-top: 3px;
      justify-content: space-evenly;
    }

    p{
      font-family: $font;
      justify-content: center;
      text-align: center;
      margin: 1;
    }

    .price {
      color: orange;
      font-size: $fontSize;
    }

    .category {
      color: grey;
      font-size: $fontSize;
    }

  }
}

.title {
  font-size: 80px;
}

#left-top {
  border-left-color: white;
  border-top-color: white;
}

#top-right {
  border-right-color: white;
  border-top-color: white;
}

#left-bottom {
  border-left-color: white;
  border-bottom-color: white;
}

#bottom-right {
  border-right-color: white;
  border-bottom-color: white;
}

#top {
  border-top-color: white;
}

#bottom {
  border-bottom-color: white;
}

#right {
  border-right-color: white;
}

#left {
  border-left-color: white;
}