body{
  margin: 0;
}

.top-container {
  margin: 0;
  background: asset_url('caffe2.jpg') no-repeat center fixed;
  height: 550px;
  background-size: cover;
  width: 100%;
  z-index: 1;
  text-align: center;

  .caffe-logo {
    display: inline-block;
    padding-top: 2.7%;
  }

  nav {
    width: 100%;
    height: 110px;
    padding-bottom: 10px;
    display: flex;

    p {
      font-family: $font;
      font-size: $font-size;
      font-weight: bold;
      color: white;

    }

    .logo-text {
      font-family: $font;
      font-size: $font-size;
      color: white;
      padding-left: 10px;
      margin: 0;
      float: left;
    }

    img {
      border-radius: 50%;
      height: 50px;
      width: auto;
      margin-left: 12%;
      margin-top: 2%;
    }
  }
}

.right-side-info {
  margin-left: 23%;
  justify-content: space-between;
  padding-top: 2.7%;
  margin-right: 0;
  width: 100%;

  p {
    display:inline-block;
    padding-right: 20px;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: orange;
      }
    }
  }
}