// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}