// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reset-title {
  text-align: center;
}

.reset-form {
  color: orange;
  margin: 10px;

  label {
    margin: 5px;
  }

  .reset-bttn{
    margin: 0;
    position: absolute;
    left: 42%;
    right: 49%;
    color: white;
    background-color: orange;

    &:hover {
      background-color: darkorange;
    }
  }
}