@import "variables";

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  outline-color: transparent;
}

.items {
  display: flex;
  align-self: center;

  .item {
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 0.5px;
    align-items: flex-start;
    background-color: white;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.08);
    }

    .picture {
      height: 250px;
      display: flex;
      padding-top: 7px;
    }

    img {
      width: 250px;
      height: auto;
      border-radius: 50%;
      padding-right: 50px;
      padding-left: 20px;
      padding-top: 3px;
      justify-content: space-evenly;
    }

    p{
      font-family: $font;
      justify-content: center;
      text-align: center;
      margin: 1;
    }

    .price {
      color: orange;
      font-size: $fontSize;
    }

    .category {
      color: grey;
      font-size: $fontSize;
    }

  }
}

.title {
  font-size: 80px;
}

#left-top {
  border-left-color: white;
  border-top-color: white;
}

#top-right {
  border-right-color: white;
  border-top-color: white;
}

#left-bottom {
  border-left-color: white;
  border-bottom-color: white;
}

#bottom-right {
  border-right-color: white;
  border-bottom-color: white;
}

#top {
  border-top-color: white;
}

#bottom {
  border-bottom-color: white;
}

#right {
  border-right-color: white;
}

#left {
  border-left-color: white;
}