- Product.all.in_groups_of(4).each do |dishes|
  .items
    - dishes.each do |dish|
      .item
        .picture
          = image_tag(url_for(dish.image))
        %b
          %p.title= dish.title
          %p.category= dish.category
          %p.price= number_to_currency(dish.price)
          - if logged_in?
            =button_to 'Add to cart', '#',class: 'button cart-button is-warning add-to-cart'
          - else
            =button_to 'Add to cart', new_user_url , method: :get ,class: 'button cart-button is-warning add-to-cart'

