<div style="z-index: 10">
<nav class="drop-down-menu" id="dropDownMenu">
  <ul class="parent">
    <li onclick="dropDown(this)" >CATEGORY<i class="arrow down"></i>
      <ul class = "child">
        <li>Item1</li><br>
        <li>Item2</li><br>
        <li>Item3</li><br>
        <li>Item4</li><br>
        <li>Item5</li><br>
      </ul>
    </li>
    <li onclick="dropDown(this)">SORTING<i class="arrow down"></i>
      <ul class = "child">
        <li>Item1</li><br>
        <li>Item2</li><br>
        <li>Item3</li><br>
        <li>Item4</li><br>
        <li>Item5</li><br>
      </ul>
    </li>
    <li onclick="dropDown(this)">VEGETARIAN<i class="arrow down"></i>
      <ul class = "child">
        <li>Item1</li><br>
        <li>Item2</li><br>
        <li>Item3</li><br>
        <li>Item4</li><br>
        <li>Item5</li><br>
      </ul>
    </li>
  </ul>
  <div class="slider" >
    <p>PRICE</p>
    <p class="price" id="first"></p>
    <div id="my-slider"></div>
    <p class="price" id="second"></p>
  </div>
</nav>
</div>
