%div
  %nav.drop-down-menu
    %ul.parent
      %li{onclick: "dropDown(this)"}
        CATEGORY
        %i.arrow.down
        %ul.child
          %li Item1
          %br/
          %li Item2
          %br/
          %li Item3
          %br/
          %li Item4
          %br/
          %li Item5
          %br/
      %li{onclick: "dropDown(this)"}
        SORTING
        %i.arrow.down
        %ul.child
          %li Item1
          %br/
          %li Item2
          %br/
          %li Item3
          %br/
          %li Item4
          %br/
          %li Item5
          %br/
      %li{onclick: "dropDown(this)"}
        VEGETARIAN
        %i.arrow.down
        %ul.child
          %li Item1
          %br/
          %li Item2
          %br/
          %li Item3
          %br/
          %li Item4
          %br/
          %li Item5
          %br/
      - if logged_in? && @current_user.admin?
        %li{onclick: "dropDown(this)"}
          ADMIN ACTIONS
          %ul.child
            %li= link_to "ADD PRODUCT", new_admin_product_url
            %br/
            %li= link_to "SEE USERS", admin_users_path
            %br/
            %li= link_to "SEE ORDERS", admin_orders_path
        %i.arrow.down
    %div.slider
      %p PRICE
      %p#first.price
      %div#my-slider
      %p#second.price