%nav
  = image_tag('caffeLogo.jpg', alt: 'Eureka Caffe Logo')
  %div.caffe-logo
    %p.logo-text EUREKA
    %P.logo-text CAFFE
  %div.right-side-info
    %b
      %p=link_to "HOME", '/home'
      %span.dot
      %p=link_to "ABOUT", '#'
      %span.dot
      %p=link_to "SERVICE", '#'
      %span.dot
      %p=link_to "BLOG", '#'
      %span.dot
      %p=link_to "CONTACTS", '#'
      %span.dot
      - if logged_in?
        %p=link_to "PROFILE", @current_user
        %span.dot
        %span.icon.is_small
          =link_to("<i class='fa fa-shopping-cart'></i>".html_safe,cart_path(@cart))
        %span.dot
        %p=link_to "LOG OUT", logout_session_path(@current_user), method: :delete
      - else
        %p=link_to "SIGN UP", new_user_url
        %span.dot
        %p=link_to "LOG IN", new_session_url
