%nav
  = image_tag('caffeLogo.jpg', alt: 'Eureka Caffe Logo')
  %div.caffe-logo
    %p.logo-text EUREKA
    %P.logo-text CAFFE
  %div.right-side-info
    %b
      %p HOME
      %span.dot
      %p ABOUT
      %span.dot
      %p SERVICE
      %span.dot
      %p BLOG
      %span.dot
      %p CONTACTS
