<nav>
  <%= image_tag('caffeLogo.jpeg', alt: 'Eureka Caffe Logo')%>
  <div class="caffe-logo">
    <p class="logo-text">EUREKA</p>
    <p class="logo-text">CAFFE</p>
  </div>
  <div class="right-side-info">
    <b><p>HOME</p>
      <span class="dot"></span>
      <p>ABOUT</p>
      <span class="dot"></span>
      <p>SERVICE</p>
      <span class="dot"></span>
      <p>BLOG</p>
      <span class="dot"></span>
      <p>CONTACTS</p></b>
  </div>
</nav>