%h1 Ordering food
%div.fork-knife
  %p#wavy-line1 kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
  = image_tag('forkIcon.png', alt: 'Fork and knife icon.')
  %p#wavy-line2 kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
%p.description-text
  Maecenas vells at magna sagittis venenatis. Integer pretium auctor
  %br/
  magna, egestas justo gravida vitae. In lacinia auctor auctor.