<h1>Ordering food</h1>
<div class="fork-knife">
  <p id="wavy-line1">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
  <%= image_tag('forkIcon.png',alt: 'Fork and knife icon.') %>
  <p id="wavy-line2">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
</div>
<p class="description-text">Maecenas vells at magna sagittis venenatis. Integer pretium auctor <br> magna, egestas justo gravida vitae. In lacinia auctor auctor.</p>